.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 799px;
  height: 100%;
  justify-content: center;
}

.form label,
.form input,
.form button {
  display: block;
}

.form label {
  font-weight: 400;
  margin-bottom: 4px;
  color: rgb(23, 71, 228);
}

.form input,
select {
  border: none;
  border-bottom: 1px solid lightgray;
  color: gray;
  font-size: 17px;
  margin-bottom: 40px;
}

.form input:focus,
.form select:focus {
  outline: none;
  border-bottom: 1px solid black;
  color: black;
}

.error {
  color: red;
}

.alert {
  max-width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}

.alert button {
  margin-top: 15px;
  max-width: 40%;
  align-self: center;
}

.form .discardButton {
  max-width: 33%;
  margin: auto;
  margin-top: 15px;
}

.form textarea {
  height: 10%;
  margin-bottom: 15px;
  padding: 10px;
}

.form textarea:focus {
  outline: none;
  border: 2px solid #3f51b5;
  border-radius: 5px;
}
